<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="MyBinding" clientBaseAddress="http://127.0.0.1:8888/calculatecallback" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:9999/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="MyBinding" contract="Artech.DuplexServices.Contracts.ICalculator"
                name="CalculatorService" />
        </client>
    </system.serviceModel>
</configuration>