<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="Artech.DuplexServices.Services.CalculatorService">
                <!--<endpoint address="net.tcp://127.0.0.1:9999/CalculatorService"
                    binding="netTcpBinding" bindingConfiguration="" contract="Artech.DuplexServices.Contracts.ICalculator" />-->
              <endpoint address="http://127.0.0.1:9999/CalculatorService"
                 binding="wsDualHttpBinding" bindingConfiguration="" contract="Artech.DuplexServices.Contracts.ICalculator" />
            </service>
        </services>
    </system.serviceModel>
</configuration>